/* tailwind element */
input.input-switch {
	@apply me-2
    mt-[0.3rem]
    h-3.5
    w-8
    appearance-none
    rounded-[0.4375rem]
    bg-black/25
    before:pointer-events-none
    before:absolute
    before:h-3.5
    before:w-3.5
    before:rounded-full
    before:bg-transparent
    before:content-['']
    after:absolute
    after:z-[2]
    after:-mt-[0.1875rem]
    after:top-0.25
    after:-left-0.5
    after:h-5
    after:w-5
    after:rounded-full
    after:border-none
    after:bg-white
    after:transition-[background-color_0.2s,transform_0.2s]
    after:content-['']
    checked:bg-primary
    checked:after:absolute
    checked:after:z-[2]
    checked:after:-mt-[3px]
    checked:after:ms-[1.0625rem]
    checked:after:h-5
    checked:after:w-5
    checked:after:rounded-full
    checked:after:border-none
    checked:after:bg-primary
    checked:after:transition-[background-color_0.2s,transform_0.2s]
    checked:after:content-['']
    hover:cursor-pointer
    focus:outline-none
    focus:before:scale-100
    focus:before:opacity-[0.12]
    focus:before:shadow-black/60
    focus:before:transition-[box-shadow_0.2s,transform_0.2s]
    focus:after:absolute
    focus:after:z-[1]
    focus:after:block
    focus:after:h-5
    focus:after:w-5
    focus:after:rounded-full
    focus:after:content-['']
    checked:focus:border-primary
    checked:focus:bg-primary
    checked:focus:before:ms-[1.0625rem]
    checked:focus:before:scale-100
    checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s]
    dark:bg-white/25
    dark:after:bg-slate-950
    dark:checked:bg-primary
    dark:checked:after:bg-primary;
}

input.input-switch-primary {
	@apply checked:bg-primary checked:after:bg-primary checked:focus:bg-primary checked:focus:after:bg-primary;
}

input.input-switch-secondary {
	@apply checked:bg-secondary checked:after:bg-secondary checked:focus:bg-secondary checked:focus:after:bg-secondary;
}

input.input-switch-warning {
	@apply checked:bg-warning checked:after:bg-warning checked:focus:bg-warning checked:focus:after:bg-warning;
}

input.input-switch-success {
	@apply checked:bg-success checked:after:bg-success checked:focus:bg-success checked:focus:after:bg-success;
}

input.input-switch-danger {
	@apply checked:bg-danger checked:after:bg-danger checked:focus:bg-danger checked:focus:after:bg-danger;
}

input.input-switch-info {
	@apply checked:bg-info checked:after:bg-info checked:focus:bg-info checked:focus:after:bg-info;
}

input.input-switch-white {
	@apply checked:bg-white checked:after:bg-white checked:focus:bg-white checked:focus:after:bg-white;
}

input.input-switch-dark {
	@apply checked:bg-dark checked:after:bg-dark checked:focus:bg-dark checked:focus:after:bg-dark;
}
